/* These styles refer to the Grass & Turf Page */

#background {
    background: url('../../images/turf-1.jpeg') no-repeat center / cover ;
}

.overlay {
    background-color:rgba(0, 0, 0, 0.6);
}

#heading {
    letter-spacing: 5px;
}