/* These styles refer to the Grass & Turf Page */

#background {
    background: url('../../images/slabbing/slabbing-3.jpeg') no-repeat center / cover ;
}

.overlay {
    background-color:rgba(0, 0, 0, 0.6);
}

#heading {
    letter-spacing: 5px;
}

.slabbing-img {
    max-height: 300px;
    width: 100%;
}

/* Tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    #background {
        background: url('../../images/slabbing/slabbing-15.jpeg') no-repeat center / cover ;
    }

    .slabbing-img {
        max-height: 400px;
    }
}

/* Laptops and larger (992px and up) */
@media screen and (min-width: 992px) {
    .slabbing-img {
        max-height: 500px;
    }
}

/* Large Desktops and larger (1600px and up) */
@media screen and (min-width: 1600px) {
    .text {
        font-size: 1.3rem;
    }
}