/* This overrides default browser settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* These are the styles for the main body */
body {
    display: flex;
    flex-direction: column;
    font-family: "quicksand", "sans-serif";
    min-height: 100vh;
}

/* These are the main styles */
main {
    flex: 1 0 auto;
}

/* These styles refer to the header */

#header-top {
    background-color: #5E8741;
    color: #fff;
}

#icons-list {
    list-style-type: none;
}

/* These styles refers to the anchor tags in the navbar */
.link {
    color: #fff;
    transition: color 0.3s ease-in-out;
}

.link:hover {
    color: #3d3d3d;
    cursor: pointer;
}